html, body, #root, .App, #container {
  height: 100%;

}

#container {
  display: flex;
  flex-direction: column;
  align-items:center;
  max-width: 600px;
  margin: auto;
  background: #8b0000;
}

.App {
    align-items:center;

  background: white;
  height: 100%;
  margin: 40px 0;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}